<!DOCTYPE html>
 <html theme="light">
  <head>
    <title>RecipeBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar bg-primary ">
      <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <%= form_tag recipes_search_path, :class => "d-flex", method: "GET" do %>
          <%= search_field_tag :search, params[:search], :class => "form-control me-2" %>
          <%= submit_tag "Search", :class => "btn btn-success" %>
        <% end %>
        </div>
        <div class="btn-group me-2" role="group" aria-label="First group">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">RecipeBook</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                      <%= link_to "New Recipe", new_recipe_path, :class => "nav-link label_white" %>
                </li>
                <li class="nav-item">
                      <%= link_to "All Recipes", recipes_path, :class => "nav-link label_white" %>
                </li>
                <% if @recipe.present? && current_page?(controller: 'recipes', action: 'show') %>
                <hr>
                <li class="nav-item">
                     <%= button_to "Delete Recipe", @recipe, :class => 'nav-link active', :method => :delete, :data => { :confirm => 'Are you sure?' } %>
                </li>
                <li class="nav-item">
                     <%= link_to "Edit Recipe", edit_recipe_path(@recipe), :class => 'nav-link active', :method => :edit %>
                </li>
                <% end %>
                <hr>
                <% if @current_user.present? %>
                  <% if @current_user.admin? %>
                    <div class="d-grid gap-2">
                      <%= link_to "All users", users_path, :class => 'btn btn-warning' %>
                    <% end %>
                      <%= button_to "Log out #{ @current_user.name }", login_path, :method => :delete, :class => "btn btn-warning" %>
                    </div>
                    <% else %>
                    <div class="d-grid gap-2">
                      <%= link_to "Sign up", new_user_path, :class => "nav-link active btn btn-success" %>
                      <%= link_to "Sign in", login_path, :class => "nav-link active btn btn-success" %>
                    <% end %>
                    </div>

        </div>
      </nav>
      <%= yield %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </body>
</html>