<!DOCTYPE html>
<html>
  <head>
    <title>RecipeBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar bg-body-tertiary ">
      <div class="btn-group" role="group" aria-label="Basic example">
        <% if @current_user.present? %>
          <% if @current_user.admin? %>
            <%= button_to "All users", users_path, :class => 'btn btn-warning btn-sm' %>
          <% end %>
          <%= button_to "Log out #{ @current_user.name }", login_path, :method => :delete, :class => "btn btn-warning btn-sm" %>
        </div>
        <%= link_to "New Recipe", new_recipe_path, :class => 'btn btn-success btn-lg' %>
        <% else %>
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to "Sign up!", new_user_path, :class => "btn btn-outline-info" %>
            <%= link_to "Sign in", login_path, :class => "btn btn-outline-info" %>
          </div>
        <% end %>
      
        <%= form_tag "/recipes", :class => "d-dlex", method: "GET" do %>
          <%= text_field_tag :search_by_name, params[:search_by_name] %>
          <%= submit_tag "Search", :class => "btn btn-info" %>
        <% end %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>