<!DOCTYPE html>
<html>
  <head>
    <title>RecipeBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">RecipeBook</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">This is a link</a>
              </li>
              <li class="nav-item">
                <% if @current_user.present? %>
                  <% if @current_user.admin? %>
                    <%= link_to "All users", users_path, :class => 'btn btn-warning btn-sm' %>
                  <% end %>
              </li>






        <% if @current_user.present? %>
          <%= button_to "Log out #{ @current_user.name }", login_path, :method => :delete, :class => "btn btn-warning btn-sm" %>
        <% else %>
            <%= link_to "Sign up!", new_user_path, :class => "btn btn-info" %>
            <%= link_to "Sign in!", login_path, :class => "btn btn-info" %>
        <% end %>
          </div>
        <%= link_to "New Recipe", new_recipe_path, :class => 'btn btn-success btn-lg' %>
        <%= form_tag "/recipes", :class => "d-dlex", method: "GET" do %>
          <%= text_field_tag :search_by_name, params[:search_by_name] %>
          <%= submit_tag "Search", :class => "btn btn-info" %>
        <% end %>
        </div>
      </nav>
      <%= yield %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  </body>
</html>