<h1> All Recipes</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">

<% @recipes.each do |recipe| %>
<div class="col">
<div class="card border-secondary">
    <%= image_tag recipe.image, :class => 'card-img-top thumb img-fluid' if recipe.image.present? %>
    <h5 class="card-header"><%= link_to recipe.title, recipe, :class => "nav-link active"%></h5>
    <div class="card-body">
    <p class="card-text"> Category: <%= recipe.category %>  --  Cusine: <%= recipe.cusine %>  --  Diatery: <%= recipe.dietary %></p>
    <p class="card-text">Cook Time: <%= recipe.cook_time %> minutes  --  Difficulty: <%= recipe.difficulty %>/5  --  Serves: <%= recipe.serves %><small class="text-body-secondary"></small></p>
  </div>
</div>
  </div>
<% end %>
</div>