<h1> <%= @recipe.title %></h1>

<h4>Category: <%= @recipe.category %></h4>
<h4>Intensity: <%= @recipe.intensity %></h4>
<h4>Serves: <%= @recipe.serves %></h4>
<%# <h3>Image: <%= @recipe.image</h3> Not sure if we want to include this here. Maybe off to the right%> 

<h4>Ingredients: </h4>
<ul>

<% @recipe.quantities.each do |quantity| %> 
<% @recipe.ingredients.each_with_index do |ingredient| %>

<li> <%=quantity.amount + " " + quantity.unit + " " + ingredient.title %>  

<% end %> 
</li>
<% end %> 
</ul>


<h4>Process: </h4>
<ol>
<% @recipe.steps.each do |step| %>
    <li><%= step.process %></li>
<% end %>
</ol>   